main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5vw;
    justify-content: center;
}

#playlists, .canciones{
    border: 1px solid green;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 20px;
}

#playlists{
    width: 25vw;
}

.canciones{
    width: 31vw;
}

#selecionadas, #playlists{
    display: flex;
    flex-direction: column;
    gap: 1vh 0px;
    padding-right: 10px;
}

.cancionSelLocal{
    background-color: rgba(10, 169, 10, 0.758);
    padding-block: 5px;
    padding-inline: 10px;
    border-radius: 8px;
}


.boton-sel, .can-del{
    background-color: white;
    padding-block: 3px;
    padding-inline: 3px;
}

.txt-sel{
    padding-right: 0.5vw;
}

.add:hover{
    background-color: rgb(66, 148, 210);
}

.del:hover{
    background-color: rgba(255, 0, 0, 0.777);
}

.playlist{
    background-color: rgba(10, 169, 10, 0.758);
    padding-block: 8px;
    border-radius: 8px;
    width: 85%;
    transition-duration: 0.5s;
}

.playlist:hover{
    background-color: rgb(108, 221, 94);
}

.nombre-playlist{
    margin-left: 0.5vw;
}

.editor-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.editor-playlist{
    border-radius: 8px;
}

#canciones-container{
    display: flex;
    flex-direction: column;
    gap: 1vh 0;
    width: 90%;
}

.cancion{
    background-color: rgba(10, 169, 10, 0.758);
    padding-block: 8px;
    border-radius: 8px;
    width: 85%;
    transition-duration: 0.5s;
}

.nombreCancion{
    padding-inline: 8px;
}