body{
    margin: 15px;
    padding: 1px;
    background-color: rgb(176, 236, 83);
    font-family: sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#entradaCancion{
    width: 20vw;
    padding-block: 5px;
    border: 2px solid rgb(103, 158, 20);
    border-radius: 5px;
}

.boton{
    padding-block: 5px;
    border-radius: 5px;
    border: 2px solid rgb(103, 158, 20);
    background-color: rgb(107, 163, 21);
    transition-duration: 0.5s;
}

.boton:hover{
    background-color: rgb(143, 250, 128);
    border: 2px solid rgb(76, 156, 65);
}

#num-elementos-busqueda, .agregar-mas{
    padding-block: 5px;
    border-radius: 5px;
}

/*MAIN*/

main{
    display: flex;
    flex-direction: row;
    margin: 15px;
    margin-top: 16px;
    height: 70.7vh;
}

#canciones-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4vh 1vw;
    overflow-y: auto;
    width: 65vw;
    border-right: 1px solid #888;
}

#info-artista-container{
    width: 35vw;
}

/**CARD CANCION**/

.cancion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 14.4vw;
    background-color: white;
}

.img-cancion-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 3px;
}

img{
    width: 100%;
    border-radius: 10px;
}

h2{
    text-align: center;
    font-family: 15px;
    height: 80px;
    margin-bottom: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.labelCard{
    font-weight: bold;
}

.btnAdd{
    margin-top: 15px;
    background-color: green;
    color: white;
    border-radius: 5px;
    padding-block: 5px;
    transition-duration: 0.5s;
}

.btnAdd:hover{
    background-color: rgba(46, 217, 46, 0.748);
    font-size: 13.6px;
}

.btnArtista{
    margin-block: 10px;
    background-color: rgb(2, 94, 119);
    color: white;
    border-radius: 5px;
    padding-block: 5px;
    transition-duration: 0.5s;
}

.btnArtista:hover{
    background-color: rgba(5, 118, 149, 0.83);
    font-size: 13.6px;
}

/*ScrollBar*/
::-webkit-scrollbar {
    width: 7px;
    height: 12px;
  }

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid wheat;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

/**************/

/*** INFO Artista ***/

#info-artista-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-principal{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.img-info-container{
    width: 40%;
    margin-top: 15px;
}

.info-img{
    border-radius: 50%;
}

h3{
    font-weight: bold;
    font-size: 25px;
}

h4{
    margin-top: 20px;
    margin-bottom: 0px;
}

.info-principal > span{
    margin-bottom: 20px;
    text-align: center;
    padding-inline: 10%;
}

.lista-canciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ol > li{
    margin-bottom: 5px;
}

/**************/